<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- SDK 32 or lower -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <!-- SDK 33 (Android13) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- SDK 34 (Android14) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>


    <application
        android:label="시야"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon"
        android:requestLegacyExternalStorage="true"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>




            <!-- App Link -->
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="www.seeya-printer.com" android:pathPrefix="/deeplink/event"/>
                <data android:scheme="https" android:host="www.seeya-printer.com" android:pathPrefix="/deeplink/event"/>
            </intent-filter>


            <!-- URI Scheme -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="seeya-app"/>
            </intent-filter>




        </activity>


        <!-- 구글 맵 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBQ6PPTKT5UTIAywAhIXo6ED2_hFAWiK14" />



        <!-- 카카오 로그인 커스텀 URL 스킴 설정 -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- "kakao${YOUR_NATIVE_APP_KEY}://oauth" 형식의 앱 실행 스킴 설정 -->
                <!-- 카카오 로그인 Redirect URI -->
                <data android:scheme="kakao8c56e9cb2a0df45451f9db497d5f3350" android:host="oauth"/>
            </intent-filter>
        </activity>






        <!-- Naver -->
        <meta-data
            android:name="com.naver.sdk.clientId"
            android:value="@string/client_id" />
        <meta-data
            android:name="com.naver.sdk.clientSecret"
            android:value="@string/client_secret" />
        <meta-data
            android:name="com.naver.sdk.clientName"
            android:value="@string/client_name" />







        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />




    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>











    <!-- pg사 결제 -->
    <!-- https://velog.io/@nagosooo/%ED%94%8C%EB%9F%AC%ED%84%B0-%ED%8F%AC%ED%8A%B8%EC%9B%90-%EC%9B%B9%EB%B7%B0-%EC%95%88%EB%93%9C%EB%A1%9C%EC%9D%B4%EB%93%9C-%EC%97%B0%EB%8F%99 -->
    <!-- https://faq.portone.io/28c179a7-1dae-475e-8e23-84b8c427be19 -->
    <queries>
        <!--간편결제-->
        <package android:name="finance.chai.app" /> <!--차이페이-->
        <package android:name="com.nhnent.payapp" /> <!--페이코-->
        <package android:name="com.lottemembers.android" /> <!--LPAY-->
        <package android:name="com.ssg.serviceapp.android.egiftcertificate" /> <!--SSGPAY-->
        <package android:name="com.inicis.kpay" /> <!--KPAY-->
        <package android:name="com.tmoney.tmpay" /> <!--티머니페이-->
        <package android:name="viva.republica.toss" /> <!--토스페이-->
        <package android:name="com.samsung.android.spay" /> <!--삼성페이-->
        <package android:name="com.kakao.talk" /> <!--카카오페이-->
        <package android:name="com.nhn.android.search" /> <!--네이버-->
        <package android:name="com.mysmilepay.app" /> <!--스마일페이-->
        <!--카드-->
        <package android:name="kvp.jjy.MispAndroid320" /> <!--ISP페이북-->
        <package android:name="com.kbcard.cxh.appcard" /> <!--KBPay-->
        <package android:name="com.kbstar.liivbank" /> <!--리브-->
        <package android:name="com.kbstar.reboot" /> <!--리브-->
        <package android:name="com.samsung.android.spaylite" /> <!--삼성페이-->
        <package android:name="com.nhnent.payapp" /> <!--페이코-->
        <package android:name="com.lge.lgpay" /> <!--엘지페이-->
        <package android:name="com.hanaskcard.paycla" /> <!--하나-->
        <package android:name="kr.co.hanamembers.hmscustomer" /> <!--하나멤버스-->
        <package android:name="com.hanaskcard.rocomo.potal" /> <!--하나공인인증-->
        <package android:name="com.citibank.cardapp" /> <!--씨티-->
        <package android:name="kr.co.citibank.citimobile" /> <!--씨티모바일-->
        <package android:name="com.lcacApp" /> <!--롯데-->
        <package android:name="kr.co.samsungcard.mpocket" /><!--삼성-->
        <package android:name="com.shcard.smartpay" /> <!--신한-->
        <package android:name="com.shinhancard.smartshinhan" /> <!--신한(ARS/일반/smart)-->
        <package android:name="com.hyundaicard.appcard" /> <!--현대-->
        <package android:name="nh.smart.nhallonepay" /> <!--농협-->
        <package android:name="kr.co.citibank.citimobile" /> <!--씨티-->
        <package android:name="com.wooricard.smartapp" /> <!--우리WON카드-->
        <package android:name="com.wooribank.smart.npib" /> <!--우리WON뱅킹-->
        <!--백신-->
        <package android:name="com.TouchEn.mVaccine.webs" /> <!--TouchEn-->
        <package android:name="com.ahnlab.v3mobileplus" /> <!--V3-->
        <package android:name="kr.co.shiftworks.vguardweb" /> <!--vguard-->
        <!--신용카드 공인인증-->
        <package android:name="com.hanaskcard.rocomo.potal" /> <!--하나-->
        <package android:name="com.lumensoft.touchenappfree" /> <!--현대-->
        <!--계좌이체-->
        <package android:name="com.kftc.bankpay.android" /> <!--뱅크페이-->
        <package android:name="kr.co.kfcc.mobilebank" /> <!--MG 새마을금고-->
        <package android:name="com.kbstar.liivbank" /> <!--뱅크페이-->
        <package android:name="com.nh.cashcardapp" /> <!--뱅크페이-->
        <package android:name="com.knb.psb" /> <!--BNK경남은행-->
        <package android:name="com.lguplus.paynow" /> <!--페이나우-->
        <package android:name="com.kbankwith.smartbank" /> <!--케이뱅크-->
        <!--해외결제-->
        <package android:name="com.eg.android.AlipayGphone" /> <!--페이나우-->
        <!--기타-->
        <package android:name="com.sktelecom.tauth" /> <!--PASS-->
        <package android:name="com.lguplus.smartotp" /> <!--PASS-->
        <package android:name="com.kt.ktauth" /> <!--PASS-->
        <package android:name="kr.danal.app.damoum" /> <!--다날 다모음-->
    </queries>


</manifest>
